body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}


/*HEADER*/

.content {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.container {
  max-width: 320px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header-container {
  padding: 16px;
  display: flex;
  align-items: center;
}

.menu-nav {
  display: inline-flex;
  align-items: center;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

span {
  color: #2e2f42;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.menu-list {
  display: none;
  gap: 40px;
}

.menu-list li:first-child a {
  color: #404bbf;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link {
  color: #2e2f42;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
}

.menu-link:hover {
  color: #404bbf;
}

.menu-list li:first-child:focus {
  color: #404bbf;
}

.menu-list li:first-child:active {
  color: #404bbf;
}

.menu-list li:first-child .menu-link:focus {
  color: #404bbf;
}

.contacts {
  display: none;
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-link {
  color: #434455;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.open-menu-btn {
  border: none;
  background-color: #FFFFFF;
  padding: 0;
  width: 24px;
  height: 24px;
  margin-left: auto;
}

.contacts-link:hover {
  color: #404bbf;
}

.contacts-link:active {
  color: #404bbf;
  font-weight: 500;
}

.contacts-link:focus {
  color: #404bbf;
  font-weight: 500;
}

/* MBOLE-MENU */

.mobile-menu {
  padding: 24px 24px 40px 16px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  transform: scale(1);
  opacity: 0;
  z-index: 1;
}

.menu-close-btn {
  margin-left: auto;
  margin-bottom: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.10);
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.menu-close-btn :active :focus {
  background-color: #E7E9FC;
}

.close-icon-btn {}

.menu-nav-mob {
  margin-bottom: 168px;
}

.menu-list-mob {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.list-link-mob {}

.menu-link-mob {
  color: #2E2F42;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.menu-list-mob :active {
  color: #404BBF;
}

.menu-list-mob :focus {
  color: #404BBF;
}


.contacts-list-menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.contacts-link-menu {
  color: #434455;
  font-family: Roboto;
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.contacts-link-menu:active {
  color: #404BBF;
}

.contacts-link-menu:focus {
  color: #404BBF;
}

.social-menu-mob {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.item-social-menu {
  display: flex;
  align-items: center;
  justify-content: center;

}

.link-social-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4D5AE5;
  fill: #F4F4FD;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-social-menu .link-social-menu:focus {
  background-color: #31D0AA;
}

.item-social-menu .link-social-menu:active {
  background-color: #31D0AA;
}



.icon-social-menu {}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }

  .header-container {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu-list {
    display: flex;
    gap: 40px;
  }

  .menu-link {
    padding: 0;
  }

  .contacts {
    display: flex;
    margin: 0;
  }

  .contacts-link {
    padding: 0;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
  }

  .contacts-list {
    flex-direction: column;
    gap: 12px;
  }

  .open-menu-btn {
    display: none;
  }

  .menu-list li:first-child a::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -25px;
    background-color: #404bbf
  }
}

@media screen and (min-width: 1158px) {
  .content {
    max-width: 1440px;
  }

  .container {
    max-width: 1158px;
  }

  .header-container {
    padding: 24px 15px;
    justify-content: flex-start;
  }

  .contacts-list {
    flex-direction: row;
  }

  .logo {
    margin-right: 76px;
  }

  .contacts {
    margin-left: auto;
  }
}


/*HERO SECTION*/
.hero-section {
  background-color: #2e2f42;
  background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-mob-1x.jpg);
  background-clip: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin: 0 auto;
  padding: 72px 0;
  max-width: 100%;
}

@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {

  .hero-section {
    background-image: linear-gradient(180deg,
        rgba(46, 47, 66, 0.7) 0%,
        rgba(46, 47, 66, 0.7) 100%),
      url(../images/people-office-mob-2x.jpg);
  }
}

.hero-container {
  margin: 0 auto;
}

.hero-title {
  color: #ffffff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin: 0 auto 72px;
  max-width: 288px;
  padding: 0 39px;

}

.button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border: none;
  outline: none;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  white-space: nowrap;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #404bbf;

}

@media screen and (min-width: 768px) {
  .hero-title {
    padding: 0;
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 36px;
  }

  .hero-section {
    padding: 112px 0;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tab-1x.jpg);
  }



  @media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {

    .hero-section {
      background-image: linear-gradient(180deg,
          rgba(46, 47, 66, 0.7) 0%,
          rgba(46, 47, 66, 0.7) 100%),
        url(../images/people-office-tab-2x.jpg);
    }
  }
}

@media screen and (min-width: 1158px) {
  .hero-section {
    max-width: 1440px;
    padding: 188px;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-desk-1x.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {

    .hero-section {
      background-image: linear-gradient(180deg,
          rgba(46, 47, 66, 0.7) 0%,
          rgba(46, 47, 66, 0.7) 100%),
        url(../images/people-office-desk-2x.jpg);
    }
  }

  .hero-title {
    margin-bottom: 48px;
  }
}

/*FEATURES_CONTENT*/

.features-content {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  padding: 96px 0;
}

.visually-hidden {
  position: absolute;
  opacity: 0;
  top: 3px;
  width: 16px;
  height: 16px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

.feature-title {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
  text-align: center;
}

.feature-list {
  display: flex;
  flex-direction: column;
  gap: 72px;

}

.title-list {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.icon-container {
  display: none;
  width: 264px;
  height: 112px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #8E8F99;
  background-color: #F4F4FD;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.feature-text {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .feature-list {
    gap: 72px 24px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .title-list {
    flex-basis: calc((100% - 24px) / 2);
  }

  .feature-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .features-content {
    padding: 120px 0;
  }

  .icon-container {
    display: flex;
  }

  .feature-list {
    flex-direction: row;
  }

  .title-list {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }

  .feature-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}

/*OUR TEAM*/
.content-our-team {
  background-color: #f4f4fd;
  font-family: "Roboto", sans-serif;
  padding: 96px 0;
  margin: 0 auto;
  max-width: 1440px;
}

.our-team-title {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.team-card {
  max-width: 264px;
  border-radius: 0px 0px 4px 4px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.card-block {
  padding: 32px 0;
  max-width: 232px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.list-our-team {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

ul.list-our-team li {
  background-color: #ffffff;
}

.team-title {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-text {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.social-container {
  max-width: 232px;
}

.social-list {
  display: flex;
  max-width: 232px;
  gap: 24px;
  flex-shrink: 0;
  justify-content: center;
}


.social-list .social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4D5AE5;
  fill: #F4F4FD;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover {
  background-color: #404bbf;
}


.social-link:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .list-our-team {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;
  }

  .team-card {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .content-our-team {
    padding: 120px 0;
  }
}


/*PORTFOLIO CONTENT*/
.portfolio-content {
  font-family: "Roboto", sans-serif;
  padding: 96px 0;
  max-width: 1440px;
  margin: 0 auto;
}

.hover-container {
  position: relative;
  overflow: hidden;
}

.portfolio-text-hover {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #4D5AE5;
  opacity: 0;
  color: #F4F4FD;
  pointer-events: none;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.title-of-portfolio {
  color: #2e2f42;
  font-family: Roboto;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #E7E9FC;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  cursor: pointer;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}

.portfolio-item:hover .portfolio-text-hover {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0%);
}

.items-block {
  padding: 32px 16px;
  border-top: none;
}


.portfolio-title {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-text {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .portfolio-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-content {
    padding: 120px 0;
  }

  .portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px 24px;
    justify-content: center;
  }

  .portfolio-item {
    flex-basis: calc((100% - 48px) / 3);
  }
}

/*FOOTER*/

.footer-content {
  background-color: #2e2f42;
  padding: 96px 0;

}

.footer-container {
  display: flex;
  flex-direction: column;
  /* align-items: baseline; */
}

.logo-footer {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.second-part {
  color: #f4f4fd;

}

.footer-text {
  color: #f4f4fd;

  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.left-container {

  margin-bottom: 72px;
}

.social-container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}

.text-social-footer {
  color: #FFF;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.list-social-footer {
  display: flex;
  gap: 16px;
  flex-shrink: 0;

}

.item-social-footer .link-social-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4D5AE5;
  fill: #F4F4FD;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-social-footer .link-social-footer:hover {
  background-color: #31D0AA;
}

.item-social-footer .link-social-footer:focus {
  background-color: #31D0AA;
}

/* FORM FOR FOOTER  */
.footer-form {
  gap: 24px;
  flex-direction: column;
}

.footer-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-label-form {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.name-form {
  position: relative;
}

.input-form:focus~.icon-input {
  fill: #4D5AE5;
}

.footer-form {
  display: flex;
}

.label-text {
  color: #ffffff;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.form-input {
  min-width: 288px;
  max-height: 40px;
  border: 1px solid #FFF;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  opacity: 0.3;
}

.form-input::placeholder {
  color: #FFFFFF;
  font-size: 12px;
  opacity: 0.6;
}

.email-btn {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  align-self: center;
}

.email-btn:hover,
.email-btn:focus {
  background-color: #404BBF;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-email-btn {
  margin-left: 16px;
}

.icon-email-btn {
  fill: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .footer-form {
    flex-direction: row;
  }

  .left-container {
    margin-right: 24px;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 108px;
  }

  .logo-footer {
    justify-content: flex-start;
  }

  .footer-form-container {
    align-items: flex-start;
  }

  .form-input {
    min-width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-content {
    padding: 100px 0;
  }

  .footer-container {
    justify-content: flex-start;
    margin: 0 auto;
    padding-left: 15px;
  }

  .left-container {
    margin-right: 120px;
    margin-bottom: 0;
  }

  .social-container-footer {
    margin-bottom: 0;
    align-items: flex-start;
    margin-right: 80px;

  }

  .form-input {
    max-width: 264px;
    opacity: 1;
  }

  .form-input::placeholder {
    opacity: 1;
  }
}

/* BACKDROP (MODAL) */

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.40);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 288px;
  border-radius: 4px;
  background-color: #FCFCFC;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 24px 16px;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.10);
  background-color: #E7E9FC;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover {
  background-color: #404BBF;
  border: none;
}

.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover>.modal-close-icon,
.modal-close-btn:focus>.modal-close-icon {
  fill: #FFFFFF;
}

.title-form {
  color: #2E2F42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
}

/* FORM */

.form-label {
  color: #8E8F99;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
  margin-bottom: 4px;
}



.container-form {
  position: relative;
  margin-bottom: 8px;
}

.texarea-wrap {
  margin-bottom: 16px;
}

.input-form {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form:focus {
  border-color: #4D5AE5;
}

.icon-input {
  fill: #2E2F42;
  width: 18px;
  height: 24px;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.text-input {
  width: 100%;
  height: 120px;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.text-input:focus {
  border-color: #4D5AE5;
}

.input-checkbox {
  width: 16px;
  height: 16px;
}

.container-checkbox {

  margin-bottom: 24px;

}

.form-label-checkbox {
  color: #8E8F99;

  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.second-part-content {
  width: 16px;
  height: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #4D5AE5;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.04em;
  text-transform: none;
  text-decoration: underline;
}

.form-btn {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFF;
  text-align: center;
  background-color: #4D5AE5;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  cursor: pointer;
}

.form-btn:hover,
.form-btn:focus {
  background-color: #404BBF;
}

.span-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.input-form:checked+.form-label-checkbox>.span-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #F4F4FD;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
  }
}

@media screen and (min-width: 1158px) {
  .modal {
    width: 408px;
  }
}